<!DOCTYPE html>
<html lang="en"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate = "~{layout/template}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Electro - HTML Ecommerce Template</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/slick-theme.css}"/>
    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/nouislider.min.css}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
    <link type="text/css" rel="stylesheet" th:href="@{/css/admin.css}"/>

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
</head>
<body>
<section layout:fragment="content">
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a href="index">Home</a></li>
                    <li class = "active"><a href="allproduct">All Books</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>

    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">
                                    <div class="product" th:each = "item : ${products}">
                                        <div class="product-img">
                                            <img th:src="@{'/img/' + ${item.image}}" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category" th:text = "${item.category.name}"></p>
                                            <h3 class="product-name" th:text = "${item.name}"><a href="#"></a></h3>
                                            <h4 class="product-price" th:text = "${item.price}"></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /tab -->
                    </div>

                </div>
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>[[${totalItems}]]</b> entries</div>
        <ul class="pagination">
            <li class="page-item">
                <div>
                       <span th:each="i: ${#numbers.sequence(1,totalPages)}">
                            <a th:href="@{'/allproduct/page/' + ${i}}"> [[${i}]] </a> &nbsp;
                       </span>
                </div>
            </li>

        </ul>
    </div>
</section>






</body>
</html>